<div class="home-container">
    <div class="join-section">
            <div class="additional-content">
        <h2>Why Choose Budget Buddy?</h2>
        <p>Manage your finances with ease and achieve your financial goals with Budget Buddy. Here's what we offer:</p>
        <ul>
            <li>• Intuitive budget tracking</li>
            <li>• Customizable savings goals</li>
            <li>• Financial tips and advice</li>
            <li>• Community support for budgeting success</li>
        </ul>

        <p>Start your journey to financial wellness today!</p>
    </div>


        <img class="budget-image" src="/images/budget.jpg" alt="Budget Image">

        <div class="join-btn">
            <button id="joinButton" onclick="window.location.href='/signup'">Join Now</button>
        </div>
    </div>

            <div class="quote-section">
            <h3>Join Us Now!</h3>
            <p>"The habit of saving is itself an education; it fosters every virtue, teaches self-denial, cultivates the sense of order, trains to forethought, and so broadens the mind." -T.T. Munger</p>
        </div>
</div>

<footer id="homeFoot" class="foooter mt-5">
    <p>&copy; 2023 Budget Buddy. All rights reserved.</p>
</footer>
