
    <div class="login-card">
        <h1 id="loginHeader">Login To Continue Your Budgeting Journey!</h1>

        {{#if errorMessage}}
            <p class="error-msg">{{errorMessage}}</p>
        {{/if}}

        <form id="loginForm" class="login-form">
            <div class="form-group">
               
                <input type="email" id="email" placeholder="Email" name="email" required>

              
                <input type="password" id="password" placeholder="Password" name="password" required>

                <button type="submit">Login</button>
            </div>
                    <p class="signup-link">Don't have an account? <a href="/signup">Sign Up</a></p>

        </form>

    </div>


<script src="./js/login.js"></script>



